include src/mypyskindose/settings_example.json
include src/mypyskindose/table_data/*.csv
include src/mypyskindose/table_data/hvl_tables/*.csv
include src/mypyskindose/phantom_data/*.stl
include src/mypyskindose/example_data/RDSR/*.dcm
include src/mypyskindose/normalization_settings.json
